@{
    ViewData["Title"] = "Contact Page";
}

<div class="container">
    <span>Fale Conosco</span>

    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Aceitamos sugestões para melhorarmos sempre!
        </p>
        <p>
            <email address="faleconosco_ou_nao@gmail.com" content="Conteúdo do e-mail"></email>
        </p>

    </div>

</div>