@model IEnumerable<mvc_project.Models.Snack>

@{
    ViewData["Title"] = "Snacks List";
}

@foreach (var snack in Model)
{
    <div>
        <h4>Snack : @snack.SnackName</h4>
        <p><img src="@snack.ImageUrl" alt="snack image"></p>
        <p>Price : @snack.Price.ToString("c")</p>
    </div>
}
