@model mvc_project.ViewModels.SnackListViewModel

@{
    ViewData["Title"] = "Snacks List";
}

<div>
    <h2>@Model.Category</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var snack in Model.Snacks)
        {
            <partial name="_SnackResume" for="@snack" />
        }
    </div>
</div>